<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body ng-app="BlankApp" ng-cloak style = "background-color:white; padding: 45px;">
  <!--
    Your HTML content here
  --> 
  <div class="header" layout='row'>
    <div flex='20'>
      <img src="logo.png"  style="width:94px;height:68px; padding-left: 50px;">
    </div>
    <div flex='80' layout='row' style="text-align: right;padding-left: 340px;padding-top: 15px">
      <div><button class="md-button" type="button" id="button1">About US</button></div>
      <div><button class="md-button" type="button" id="button2">Services</button></div>
      <div><button class="md-button" type="button" id="button3">Team</button></div>
      <div><button class="md-button" type="button" id="button4">Careers</button></div>
      <div><button class="md-button" type="button" id="button5">Contact Us</button></div>
    </div>
  </div>
  <div class="one" layout="row" style="padding-top:115px;padding-right: 45px;padding-left: 45px">
    <div flex="66">
      <div style="text-indent: 50px;align-content: center; text-align: middle;letter-spacing: 3px;color: grey;font-size: 50px;padding-right: 15px;">
          Get answers to <b style="color: #2DC972;">medical</b> questions by medical <b style="color:#2DC972;">experts</b>, quickly and free. 
          <div style="padding: 70px;padding-bottom: 70px">
            <md-button class="md-raised md-primary" style="border-radius: 50px;background-color:#2DC972;min-height: 66px;min-width: 178px;font-size: 22;">GET QUOTE<b>&#8595;</b></md-button>
          </div>
        </div>
    </div>
    <div flex="33"> <img src="logo.png"  style="width:194px;height:168px;padding-left: 50px;"></div>
  </div>
  <hr width="50%">

  <div class="two" style="padding: 70px;text-align: center;">
    <b>GET TO KNOW</b>
    <div style="font-size: 20px;">
      <h1 style="color: #2DC972;font-size:40px;padding-top:10px">About Us</h1>
      <div >
        Noevos Market Research and Analysis is a knowledge process insourcing company offering business and knowledge services to Life Science Research Organisations, CRO’s, Pharma, Database Management and Marketing companies.The core group of Noevos has close to a decade of technical and organisational experience in KOL management, market research, social media monitoring, data management and scientific writing. We combine innovation and latest technologies to meet project needs in sync with best industry practices. We emphasise on stringent quality control measures and consistency in time bound delivery. Our services include KOL management, data mining, primary and secondary market research, database management, data processing, data cleansing, medical and scientific writing.
      </div>
    </div>
  </div>
  <hr width="50%">
  
  <div class="three" layout="row" style="text-align: center;padding: 70px">
    <div flex="43">
      <h1>1.KOL MANAGEMENT</h1>
      <div style="color: grey;font-size: 20px;padding-right: 40;text-align: -webkit-left;">
        Trial media monitoring, data management and scientific writing. We combine innovation and latest technologies to meet project needs in sync with best industry practices. We emphasise on stringent quality control measures and consistency in time bound delivery. Our services include KOL management, data mining, primary and secondary market research, database management, data processing, data cleansing, medical and scientific writing.
      </div>
      
      <div style="padding-top: 40px;"><md-button class="md-raised md-primary" style="background-color:#2DC972;min-height: 66px;border-radius: 50px;min-width: 198px;font-size: 22;">KNOW MORE &#8594; </md-button></div>   
    </div>
    <div flex="56 "><img src="medical.png"  style="width:414px;height:488px;align-self: right;"></div>
  </div>
  
  <hr width="50%">
  <div class="four" style="text-align: center;padding: 70px" layout="column">
    <div flex>
      <h3>GET TO KNOW</h3>
      <h1 style="color: #2DC972;font-size:40px;padding-top:10px">Our team</h1>
      <div style="color: grey;font-size: 20px;">
        We combine innovation and latest technologies to meet project needs in sync with best industry practices. We emphasise on stringent quality control measures and consistency in time bound delivery. Our services include KOL management, data mining, primary and secondary market research, database management, data processing, data cleansing, medical and scientific writing.

    </div>
    <div flex layout="row" style="padding-top: 70px;padding-bottom: 70px;">
      <div flex="25">
        <div>
          <img src="logo.png"  style="width:94px;height:50px;padding-left: 10px; border-radius:100%;">
          <h2>Name</h2>
          <h3>Description</h3>
          <div layout="row" style="align-items: center;padding-left: 50px">            
            <div style="padding-left: 20px"><img src="1.png"  style="width:30px;height:30px;border-radius:50%; "></div>
            <div style="padding-left: 20px"><img src="2.png"  style="width:30px;height:30px; border-radius:50%;"></div>
            <div style="padding-left: 20px"><img src="3.png"  style="width:30px;height:30px; border-radius:50%;"></div>
          </div>
        </div>
      </div>
      <div flex="25">
        <div>
          <img src="logo.png"  style="width:94px;height:50px;padding-left: 10px; border-radius:100%;">
          <h2>Name</h2>
          <h3>Description</h3>
          <div layout="row" style="align-items: center;padding-left: 50px">            
            <div style="padding-left: 20px"><img src="1.png"  style="width:30px;height:30px;border-radius:50%; "></div>
            <div style="padding-left: 20px"><img src="2.png"  style="width:30px;height:30px; border-radius:50%;"></div>
            <div style="padding-left: 20px"><img src="3.png"  style="width:30px;height:30px; border-radius:50%;"></div>
          </div>
        </div>
      </div>
      <div flex="25">
        <div>
          <img src="logo.png"  style="width:94px;height:50px;padding-left: 10px; border-radius:100%;">
          <h2>Name</h2>
          <h3>Description</h3>
          <div layout="row" style="align-items: center;padding-left: 50px">            
            <div style="padding-left: 20px"><img src="1.png"  style="width:30px;height:30px;border-radius:50%; "></div>
            <div style="padding-left: 20px"><img src="2.png"  style="width:30px;height:30px; border-radius:50%;"></div>
            <div style="padding-left: 20px"><img src="3.png"  style="width:30px;height:30px; border-radius:50%;"></div>
          </div>
        </div>
      </div>
      <div flex="25">
        <div>
          <img src="logo.png"  style="width:94px;height:50px;padding-left: 10px; border-radius:100%;">
          <h2>Name</h2>
          <h3>Description</h3>
          <div layout="row" style="align-items: center;padding-left: 50px">            
            <div style="padding-left: 20px"><img src="1.png"  style="width:30px;height:30px;border-radius:50%; "></div>
            <div style="padding-left: 20px"><img src="2.png"  style="width:30px;height:30px; border-radius:50%;"></div>
            <div style="padding-left: 20px"><img src="3.png"  style="width:30px;height:30px; border-radius:50%;"></div>
          </div>
        </div>
      </div>
    </div>

    <h4>INTERESTED IN US &#8595;</h4>
    <div style="text-align: center;background-color: #2DC972;color: white;padding-bottom: 40px;padding-top: 40px">
      <md-button class="md-raised md-primary" style="background-color:#2DC972; border-color: white">JOIN US<b>&#8594;</b></md-button>
    <h4>GET CONNECTED &#8595;</h4>
    </div>
    
  </div>
  </div>
  <hr width="50%">
  <div class="five" style="text-align: center;padding: 70px">
    <h3>LIKED OUR SERVICES?</h3>
    <H2 style="color: #2DC972;font-size:40px;padding-top:10px">Contact Us</H2>
    <form>
      <div layout='column'>
        <div flex layout='row'>
          <div flex layout='column'>
            <div flex>
              <md-input-container>
                <label>Name</label>
                <input ng-model="user.title">
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>Email</label>
                <input ng-model="user.title">
              </md-input-container>
            </div>
          </div>
          <div flex layout='column'>
            <div flex>
              <md-input-container>
                <label>Company</label>
                <input ng-model="user.title">
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <label>Country</label>
                <input ng-model="user.title">
              </md-input-container>
            </div>
          </div>
        </div>
        <div flex>
          <md-input-container>
                <label>Drop a message</label>
                <input ng-model="user.title">
              </md-input-container>
        </div>
      </div>
    </form>
    <h5>WE ARE LOCATED &#8595;</h2>
    <h3 style="color: #2DC972;font-size:40px;padding-top:10px">
      Noevos Market Research and Analysis Pvt. Ltd.
    </h3>
    <h3>
      Malayil Arcade, 220 E3, Part 2, K.P. Road, Nagercoil-629001, Tamilnadu, India
    </h3>
    <h3>Phone: +91 4652 235100 Email: contactus@noevos.com</h3>
  </div>
  <hr width="50%">
  <div class="footer" layout='row'>
    <div flex='20'>
      <img src="logo.png"  style="width:94px;height:68px;padding-left: 50px;">
    </div>
    <div flex='80' layout='row' style="text-align: right;padding-left: 250px;">
      <div><button class="md-button" type="button" id="button1">About US</button></div>
      <div><button class="md-button" type="button" id="button1">Why Noevos</button></div>
      <div><button class="md-button" type="button" id="button1">E-Broucher</button></div>
      <div><button class="md-button" type="button" id="button1">Careers</button></div>
      <div><button class="md-button" type="button" id="button1">Blog</button></div>
      <div style="padding-left: 20px"><img src="1.png"  style="width:30px;height:30px;border-radius:50%; "></div>
      <div style="padding-left: 20px"><img src="2.png"  style="width:30px;height:30px; border-radius:50%;"></div>
      <div style="padding-left: 20px"><img src="3.png"  style="width:30px;height:30px; border-radius:50%;"></div>
    </div>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript"> 
    $("#button1").click(function() 
    {
      $('html,body').animate({scrollTop: $(".one").offset().top},'slow');
    });
    $("#button2").click(function() 
    {
      $('html,body').animate({scrollTop: $(".two").offset().top},'slow');
    });
    $("#button3").click(function() 
    {
      $('html,body').animate({scrollTop: $(".three").offset().top},'slow');
    });
    $("#button4").click(function() 
    {
      $('html,body').animate({scrollTop: $(".four").offset().top},'slow');
    });
    $("#button5").click(function() 
    {
      $('html,body').animate({scrollTop: $(".five").offset().top},'slow');
    });  
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('BlankApp', ['ngMaterial']);
  </script>
  
</body>
</html>